* {
	box-sizing: border-box;
} /*this makes it so that the boxes account for the borders/margins/etc and don't go weird*/

body {
	background-color: #CFD3D7;
	background-image: -webkit-linear-gradient(#77C3FF #5B94C2); 
}

.header {
	display: scroll; /*this should be the thing to make it scroll*/
	position: fixed; /*this should be the thing to keep it in place*/
	z-index: 2000;
	top: 0; 
	overflow: hidden;
	height: 100px;
	border: 1px solid #CCC;
	margin: 0px auto;
	width: 100%;
	text-align: center;
	background-color: #336DA4;
	font-family: 'Inknut+Antiqua', Serif; 
}

.text {
	margin: 0px auto;
	width:1234px auto;
	height: 500px;
	margin-top:70px; /*This should be the thing to keep the text from hiding under the header when it's in the top position*/
	padding: 40px;
}

h1 {
	text-align: center;
}

.anchor {
    position: absolute;/*This lets the internal links work*/ 
    margin: -4.15em;
 }

.box1 {
   	border:1px solid gray;
   	overflow: scroll;
   	padding: 75px 15px;
   	margin: 75px; /*sorted this here to add more buffer around, we'll see if it helps*/
}

.box2 {
  	border: 1px solid gray;
  	padding: 15px;
  	overflow: scroll;
  
}

.box3 {
	background-color:silver;
	padding: 15px;
 /* margin-left: -40px;
  margin-right: -5px;
  width: 1232px;*/
}

.proimg {
	border-radius: 100%;
	border-color: 0,0,0;
	height: 300px;
	float: left;
	padding: 15px;
}
